<!-- Unsubmitted Form ------------------------------>
<span id="parent" *ngIf = "!submitted">
  <mat-card
  class="card">
  <mat-card-header>
    <h2>Web Crawler v1.0</h2>
  </mat-card-header>
  <mat-card-content>
    <ul class = "list">
      <li>
        <mat-input-container
          class = "cardItem, fullWidth"
          matTooltip="Where should the search begin?"
          matTooltipPosition="left">
          <input
            matInput
            type = "url"
            [(ngModel)] = "root"
            placeholder="Root Site URL">
        </mat-input-container>
      </li><li>
        <h4>Page quota:</h4>
        <mat-slider
          class = "fullWidth"
          min = "1"
          value = "10"
          max = "100"
          tick-interval = "5"
          thumb-label = "true"
          matTooltip="How many pages should I scrape? Allow half a second of processing time per page."
          matTooltipPosition="left"
          [(ngModel)] = "depth"></mat-slider>
      </li><li>
        <mat-slide-toggle
        labelPosition = "after"
        matTooltip="External links point to other websites. If left off, it will only search child pages on the same website (i.e '/about or /contact')."
        matTooltipPosition="left"
        [(ngModel)]="external">Follow external links</mat-slide-toggle>
      </li><li>
        <h4>Search for...</h4>
      </li><li>
        <mat-slide-toggle
         labelPosition = "after"
         [(ngModel)]="email">Emails</mat-slide-toggle>
      </li><li>
        <mat-slide-toggle
        labelPosition = "after"
        [(ngModel)]="phone">Phone Numbers</mat-slide-toggle>
      </li>
      <li *ngFor="let regex of regexes; let i = index" [attr.data-index]="i">
        <mat-input-container
          id = "nameWidth">
          <input
            matInput
            [(ngModel)] = "regexes[i].name"
            matTooltip="Give the custom pattern a name."
            matTooltipPosition="left"
            placeholder="Name">
        </mat-input-container>
        <mat-input-container
          id = "expWidth">
          <input
            matInput
            [(ngModel)] = "regexes[i].placeholder"
            matTooltip="Provide the regular expression without slashes. 'ig' flags applied automatically."
            matTooltipPosition="right"
            placeholder="Text Pattern">
        </mat-input-container>
      </li>
    </ul>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="warn"
        (click) = "addRegex()"
        matTooltip="Add a Regular Expression pattern to look for."
        matTooltipPosition="below">Add Search Target</button>
      <button
        mat-raised-button
        color="warn"
        (click) = "removeRegex()"
        matTooltip="Remove the bottommost text pattern."
        matTooltipPosition="below">Remove Search Target</button>
      <button
        mat-raised-button
        color = "primary"
        (keyup)="onKey(rootTrigger)"
        [disabled] = "!valid()"
        matTooltip="Fill out all fields to unlock."
        matTooltipPosition="below"
        (click) = "submit()">Begin search</button>
    </mat-card-actions>
  </mat-card>
  <span id = "buttons">
    <div>
    <a class="logo" [href]="regexLink">
      <button
        mat-icon-button
        matTooltip="What are Regular Expressions?"
        matTooltipPosition="right">
        <img [src]="questionMarkLogoPath"></button>
    </a></div><div><a class="logo" [href]="githubLink">
    <button
      mat-icon-button
      matTooltip="View Source"
      matTooltipPosition="right">
      <img [src]="githubLogoPath"></button>
  </a></div></span>
</span>

<!-- Submitted Form ------------------------------->
<span id="parent" *ngIf = "submitted">
  <mat-card
  class="card">
  <mat-card-header>
    <h2>Search Results</h2>
  </mat-card-header>
  <mat-card-content>
    <mat-progress-bar
      *ngIf = "!loaded"
      color="primary"
      mode="indeterminate">
  </mat-progress-bar>
      <ul class = list>
        <li *ngFor="let regex of regexes; let i = index" [attr.data-index]="i">
          <h3>{{regex.name.endsWith('s') ? regex.name + "es" : regex.name + "s"}} ({{regex.found.length}})</h3>
          <textarea
            matInput
            readonly
            name = "{{regex.name}}"
            class = "highlight"
            matTextareaAutosize
            matAutosizeMinRows="3"
            matAutosizeMaxRows="5">{{regex.found.join(',  ')}}</textarea>
        <button mat-mini-fab
                color="warn"
                (click) = "openSnackbar(clipboardMessage)"
                [ngxClipboard]="{{regex.name}}"
                matTooltip="Emails will be seperated by commas"
                matTooltipPosition="right">Basic</button>
      </ul>
    </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="warn"
          matTooltip="CSV files can be opened by any spreadsheet software"
          matTooltipPosition="below">Download as CSV</button>
        <button
          routerLink = "mailTo"
          mat-raised-button
          color="warn"
          matTooltip="Create an email with found addresses"
          matTooltipPosition="below">Open as email</button>
        <button
          mat-raised-button
          color = "primary"
          (click) = "reset()"
          matTooltip="Try another query"
          matTooltipPosition="below"
          >Restart</button>
      </mat-card-actions>
</mat-card>

<!-- Side Buttons --------------------------------->
<span id = "buttons">
  <div><a class="logo" [href]="githubLink">
  <button
    mat-icon-button
    matTooltip="View Source"
    matTooltipPosition="right">
    <img [src]="githubLogoPath"></button>
</a></div></span>
</span>
