<span id= "parent">
  <div>
  <mat-card
  class="card">
  <h2 style = "padding-left: 2em">Web Crawler v0.1</h2>
    <ul class = "list">
      <li>
        <mat-input-container
          class = "cardItem">
          <input
            matInput
            type = "url"
            matTooltip="Where should the search begin?"
            placeholder="Root Site URL">
        </mat-input-container>
      </li><li>
        <h4>Search depth</h4>
        <mat-slider></mat-slider>
      </li><li>
        <h4>Search for...</h4>
      </li><li>
        <mat-checkbox
         labelPosition = "after">Email</mat-checkbox>
      </li><li>
        <mat-checkbox
        labelPosition = "after">Phone Numbers</mat-checkbox>
      </li><li>
        <mat-checkbox
        labelPosition = "after">Addresses</mat-checkbox>
      </li><li><span>
        <h4
        style = "display: inline;"
        matTooltip="Must be a valid regular expression.">
        Add a custom search target </h4>
        <button
          mat-mini-fab
          class="button"
          color="accent"
          (click) = "addRegex()"
          matTooltip="Add a search string"
          matTooltipPosition="left">+</button>
        <button
          mat-mini-fab
          class="button"
          color="primary"
          (click) = "removeRegex()"
          matTooltip="Remove a search string"
          matTooltipPosition="left">-</button>
      </span></li>
      <li *ngFor="let regex of regexes; let i = index" [attr.data-index]="i">
        <mat-input-container
          class = "cardItem">
          <input
            matInput
            [(ngModel)] = "regexes[i].name"
            placeholder="Name">
        </mat-input-container>
        <mat-input-container
          class = "cardItem">
          <input
            matInput
            [(ngModel)] = "regexes[i].placeholder"
            placeholder="Text Pattern">
        </mat-input-container>
      </li>
      <button
        mat-raised-button
        class = "center"
        color = "primary"
        *ngIf = "valid()"
        matTooltip="Fill out all fields to unlock."
        matTooltipPosition="below">Begin search</button>
    </ul>
  </mat-card>

  <a id="github" [href]="githubLink">
    <button
      mat-icon-button
      matTooltip="View Source"
      matTooltipPosition="right"><img
      [src]="githubLogoPath"></button>
  </a>
  </div>
</span>
