h3, h4 {
  font-weight: lighter;
}

#actions {
  margin-top: 2%;
}

#buttons {
  display: inline-block;
}

#cardHeader {
  margin-bottom: 2%;
}

#copy {
  transform: scale(.8);
}
#expWidth {
  width: 250px;
}

#header {
  font-size: 50;
  font-weight: bold;
  border-bottom: 2px solid grey;
}

#nameWidth {
  width: 100px;
}

#parent {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

#topButton {
  margin-bottom: 1em;
}

#trickyLink {
  opacity: 0;
  width: 0;
  height: 0;
}

#resultList {
  padding-left: 1em;
  padding-top: 4%;
  padding-bottom: 4%;
}

#resultBorder {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.button {
  transform: scale(.8);
}

.card {
  display: inline-block;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.cardItem {
  display: inline-block;
}

.fullWidth {
  width: 350px;
}

.header {
  padding-bottom: 0;
  margin-bottom: 0;
}

.highlight {
  padding-top: 0;
  margin-top: 0;
  background-color: powderblue;
}

.inline-block {
  display: inline-block;
}

.logo {
  margin-right: auto;
  margin-left: 1em;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

li {
  list-style-type: none;
}
